.tskms_employee-mid {
  position: absolute;
  width: 66vw;
  min-height: 90vh;
  left: 380px;
  top: 20px;
  padding: 12px 36px;
  background: #ffffff;
  border-radius: 40px;
}

.tskms_employee-midTop {
  display: flex;
  align-items: center;
}
.tskms_employee-midTop #addEmployee {
  position: absolute;
  right: 36px;
  background-color: #00abc5c0;
  padding: 10px;
  font-size: small;
  border-radius: 12px;
}
.Action{
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  display: flex;
}
.icons{
  margin-top:0px;
  margin-bottom: 0px;
  margin-right: 8px;
  color:#324B51 ;
}
.icons:hover{
  cursor: pointer;
  color:#00abc5c0;
}